<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the blog!</h1>
    <p>Click the button below to add your post.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Add post &raquo;</a></p>
  </div>
</div>